<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
      <main class="flexContainer">
        <%- include('../partials/navMenu.ejs')%>
          <div id="containerSlider">
            <section class="flexContainer" id="slider">
              <!-- SLIDER -->
              <div class="slider-display-container">
                <button type="button" id="btnIzq" onclick="siguiente(-1)">&#10094;</button>
                <%producto.productsImages.forEach(image=> { %>
                  <img class="sliderImagen" src="/images/<%= image.imageProduct %>">
                  <%})%>
                    <button type="button" id="btnDer" onclick="siguiente(1)">&#10095;</button>
              </div>
              <!-- SLIDER SCRIPT (MUST INCLUDE)-->
              <%- include('../partials/slider.ejs')%>
            </section>
          </div>
          <section id="formDetalleProdcuto">
            <form class="flexContainer" id="infoProducto" action="none" method="post">
              <div id="tituloProducto" class="flexContainer margin10px">
                <label>
                  <%= producto.title %>
                </label>

              </div>
              <div class="flexContainer" id="precioProducto">
                <label for="precioDP">Precio: </label>
                <h4 class="margin10px flexContainer centradoxy" id="precioDP">$<%= producto.price %>
                </h4>
              </div>
              <div class="flexContainer">
                <label>Color:</label>
                <div class="flexContainer centradoxy space-evenly">
                  <%producto.productColors.forEach(color=> { %>
                    <label for=""> Rojo</label><input type="radio" name="color" <%=color%>
                    value="<%=color%>">
                    <%})%>
                </div>
              </div>
              <br>
              <br>
              <div class="flexContainer">
                <label>Tamaño: </label>
                <div class="flexContainer centradoxy space-evenly">

                  <label for=""> 20</label><input type="radio" <%=producto.title%> name="tamanio" value="S">
                  <label for=""> 26</label><input type="radio" <%=producto.title%> name="tamanio" value="M">
                  <label for=""> 29</label><input type="radio" <%=producto.title%> name="tamanio" value="L">
                </div>
              </div>
              <br>
              <br>
              <div class="flexContainer" id="cantidadProducto">
                <label>Cantidad: </label><input class="textocentrado " type="number">
                <h4 class="textGray">tenemos <%= producto.stock %> unidades diponibles!</h4>
              </div>
              <div id="containerBtn" class="flexContainer">
                <button id="btnCompraAhora">Compra ahora</button>
              </div>
              <% if(locals.isLogged){ %>
                <a id="editarProducto" href="/editarproducto/<%= producto.idProduct %>">
                  <i class="fas fa-edit"></i>
                </a>
                <%} %>
            </form>

          </section>
          <section id="descripcionProducto">
            <div id="">
              <h4>Descripción</h4>
              <p>
                <%= producto.description %>
              </p>
            </div>
          </section>

      </main>
      <%- include('../partials/footer.ejs')%>
  </body>

  </html>