<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
      <main>
        <%- include('../partials/navMenu.ejs')%>


          <section class="">
            <form class="flexContainer centradoxy bgGray margin10px padding10px" id="infoEP" action="../editarproducto/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
              <div class="flexContainer" id="containerSliderEP">
                <!-- <div class="flexContainer centradoxy" id="containerDeleteIMG">
                  <i class="fas fa-trash-alt"></i>
                </div> -->

                <section class="flexContainer" id="slider">
                  <!-- SLIDER -->
                  <div class="slider-display-container">
                    <button id="btnIzq" type="button" onclick="siguiente(-1)">&#10094;</button>
                    <%producto.img.forEach(bici=> { %>
                      <img class="sliderImagen" src="/images/<%= bici %>">
                    <%})%>
                    <button id="btnDer" type="button" onclick="siguiente(1)">&#10095;</button>
                  </div>
                  <!-- SLIDER SCRIPT (MUST INCLUDE)-->
                  <%- include('../partials/slider.ejs')%>
                </section>
              </div>
              <div id="uploadImagesEP" class="flexContainer centradoxy">
                <label for="avatar">Arrastra y suelta tus imagenes aquí o seleccionalas:</label>
                <input type="file" id="imagenes" name="image" multiple accept="image/*" />
              </div>
              <div id="contenedorInputs" class="flexContainer">
                <div id="tituloEP" class="flexContainer">
                  <label for="nombreEP"> Nombre del Producto:</label>
                  <input class="textocentrado" type="text"  autocomplete="off" id="nombreEP" name="nombreEP" disabled placeholder="<%= producto.titulo %>" required/>
                </div>
                <div class="flexContainer" id="precioProducto">
                  <label for="precioEP"> Precio:</label>
                  <input class="textocentrado" type="number" min="1" autocomplete="off" id="precioEP" name="precio" value=<%= producto.precio %> required/>

                </div>
                <div class="flexContainer" >
                  <label>Color:</label> 
                  <div class="flexContainer centradoxy space-evenly" >
                    <label for=""> Rojo</label><input type="checkbox" name="colorRed" value="red" <%if(producto.colorDisponible.red==""){%>checked<%}%>>
                    <label for=""> Blanco</label><input type="checkbox" name="colorWhite"  value="white" <%if(producto.colorDisponible.white==""){%>checked<%}%>>
                    <label for=""> Negro</label><input type="checkbox" name="colorBlack" value="black" <%if(producto.colorDisponible.black==""){%>checked<%}%>>
                  </div>
                </div>
                <div class="flexContainer" >
                  <label>Tamaño: </label>
                  <div class="flexContainer centradoxy space-evenly" >
                    <label for="">Rodado 20</label><input type="checkbox" name="tamanioS" value="S" <%if(producto.tamanio.S==""){%>checked<%}%>>
                    <label for="">Rodado 26</label><input type="checkbox" name="tamanioM" value="M" <%if(producto.tamanio.M==""){%>checked<%}%>>
                    <label for="">Rodado 29</label><input type="checkbox" name="tamanioL" value="L" <%if(producto.tamanio.L==""){%>checked<%}%>>
                  </div>
                  <br>
                  <br>
                <div class="flexContainer" id="cantidadEP">
                  <label for="cantidadEP"> Cantidad:</label>
                  <input class="textocentrado" type="number"  autocomplete="off" min="1" id="cantidadEP" name="cantidad" value=<%=producto.cantidadDisponible%>  />
                </div>


                <div id="descripcionProductoNuevo">

                <label for="descripcionProductoNuevo"> Descripción:</label>
                <textarea id="descripcionProductoNuevo" autocomplete="off" name="descripcionProductoNuevo"><%=producto.descripcionDetallada%> </textarea>

                </div>

                <div id="containerBtn" class="flexContainer">
                  <button type="submit" id="btnEP">Guardar</button> 
                  <div>
                  
                </div>
<!--                   
                  <button type="submit" action="../editarproducto/<%=producto.id%>?_method=PUT" method="DELETE" id="btnDEL">BORRAR</button> -->
                </div>
              </div>

            </form>
            <form action="/productos/<%= producto.id%>?_method=DELETE"  method="POST" style="display: inline-flex">
              <button type="submit" class="action-button delete">ELIMINAR</button>
            </form> 

          </section>

      </main>
      <%- include('../partials/footer.ejs')%>
  </body>

  </html>