<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
      <main id="mainIndex">
        <%- include('../partials/navMenu.ejs')%>
        
        <h3 class="sections">Lista de Productos</h3>
        <section class="containerTarjetas">
          <% for(const bici in listaBicis) { %>
            <a href="/detalleproducto/<%=bici.idProduct%>" class="product article">
                <img src="/images/users/avatars/porDefecto.jpg" alt="Image not found">
                <div class="producto-descripcion flexContainer">
                  <div class="price-bar flexContainer">
                    <p class="precio">$ <%=bici.price%></p>
                    <!-- <%if(bici.descuento){%> -->
                      <!-- <p class="descuento"><%=bici.descuento%></p> -->
                    <!-- <%}%> -->
                  </div>
                  <h4 class="description"><%=bici.title%></h4>
                </div>
              </a>
          <%}%>
        </section>
      </main>
      <%- include('../partials/footer.ejs')%>
  </body>

  </html>