<%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/header.ejs')%>
      <main class="flexContainer">
        <%- include('partials/navMenu.ejs')%>
          <div id="containerSlider">
            <section class="flexContainer" id="slider">
              <!-- SLIDER -->
              <div class="slider-display-container">
                <button type="button" id="btnIzq" onclick="siguiente(-1)">&#10094;</button>
                <%producto.img.forEach(bici=> { %>
                  <img class="sliderImagen" src="/images/<%= bici %>">
                <%})%>
                <button type="button" id="btnDer" onclick="siguiente(1)">&#10095;</button>
              </div>
              <!-- SLIDER SCRIPT (MUST INCLUDE)-->
              <%- include('partials/slider.ejs')%>
            </section>
          </div>
          <section id="formDetalleProdcuto">
            <form class="flexContainer" id="infoProducto" action="none" method="post">
              <div id="tituloProducto" class="flexContainer">
                <h3>
                  <%= producto.titulo %>
                </h3>

              </div>
              <div class="flexContainer" id="precioProducto">
                <h4>Precio: </h4>
                <h4>$<%= producto.precio %>
                </h4>
              </div>
              <div class="flexContainer" id="colorProducto">
                <h4>Color: </h4> <a class="iconCircle red"></a> <a class="iconCircle white"></a><a
                  class="iconCircle black"></a>

              </div>
              <div class="flexContainer" id="tamanioProducto">
                <h4>Tamaño: </h4>
                <div class="iconCircle white">S</div>
                <div class="iconCircle white">M</div>
                <div class="iconCircle white">L</div>
              </div>
              <div class="flexContainer" id="cantidadProducto">
                <h4>Cantidad: </h4> <input type="number">
                <h4 class="textGray">tenemos <%= producto.cantidadDisponible %> unidades diponibles!</h4>
              </div>
              <div id="containerBtn" class="flexContainer">
                <button id="btnCompraAhora">Compra ahora</button>
              </div>
              <a  id="editarProducto" href="/editarproducto/<%= producto.id %>">
                <i  class="fas fa-edit"></i>
              </a>
            </form>
          </section>
          <section id="descripcionProducto">
            <div id="">
              <h4>Descripción</h4>
              <p>
                <%= producto.descripcionDetallada %>
              </p>
            </div>
          </section>

      </main>
      <%- include('partials/footer.ejs')%>
  </body>

  </html>