<%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/header.ejs')%>
      <main>
        <section class="enlaces">
          <a href="/MTB">MTB</a>
          <a href="/Ruta">Ruta</a>
          <a href="/Urbanas">Urbanas</a>
          <a href="/Accesorios">Accesorios</a>
        </section>
        <h3 class="sections">Nuestras ofertas para vos!</h3>
        <section>
          <%listaBicis.forEach(bici => { %>
            <article class="product" onclick="location.href='/detalleproducto/<%=bici.id%>';" style="cursor: pointer;">
                <img src="/images/<%=bici.img[0]%>" alt="<%=bici.alt%>">
                <div class="producto-descripcion">
                  <div class="price-bar">
                    <p class="precio"><%=bici.precio%></p>
                    <%if(bici.descuento){%>
                      <p class="descuento"><%=bici.descuento%></p>
                    <%}%>
                  </div>
                  <h4 class="description"><%=bici.titulo%></h4>
                </div>
            </article>
          <%})%>
          
        </section>
        <h3 class="sections">DESTACADOS</h3>
        <section class="slider">
          <!-- SLIDER -->
          <div class="slider-display-container">
            <%listaBicis.forEach(bici => { %>
              <%bici.img.forEach(img => { %>
                <img class="sliderImagen" src="/images/<%= img %>" style="width:100%" onclick="location.href='/detalleproducto/<%=bici.id%>';" style="cursor: pointer;">
              <%})%>
            <%})%>
            <button class="btnIzq" onclick="siguiente(-1)">&#10094;</button>
            <button class="btnDer" onclick="siguiente(1)">&#10095;</button>
          </div>
          <!-- SLIDER SCRIPT (MUST INCLUDE)-->
          <%- include('partials/slider.ejs')%>
        </section>
      </main>
      <%- include('partials/footer.ejs')%>
  </body>

  </html>