<%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/header.ejs')%>
      <main id="mainIndex">
        <%- include('partials/navMenu.ejs')%>

          <h3 class="sections">Nuestras bicis</h3>
          <section class="containerTarjetas">
            <% let biciVisited=[]%>
              <% listaBicis.forEach( product=> { product.productCategory.forEach(categoryObj => {if(categoryObj.category
                == "visited"){ biciVisited.push(product) }})})%>
                <%biciVisited.forEach(bici=> { %>
                  <a href="/detalleproducto/<%=bici.idProduct%>" class="product article">
                    <img src="/images/<%=bici.productsImages[0].imageProduct%>" alt="<%=bici.alt%>">
                    <div class="producto-descripcion flexContainer">
                      <div class="price-bar flexContainer">
                        <p class="precio">$ <%=bici.price%>
                        </p>
                        <%if(bici.descuento){%>
                          <p class="descuento">
                            <%=bici.descuento%>
                          </p>
                          <%}%>
                      </div>
                      <h4 class="description">
                        <%=bici.title%>
                      </h4>
                    </div>
                  </a>
                  <%})%>
          </section>

          <h3 class="sections">Nuestras ofertas para vos!</h3>
          <section class="containerTarjetas">
            <% let biciDiscount=[]%>
              <% listaBicis.forEach( product=> { product.productCategory.forEach(categoryObj => {if(categoryObj.category
                == "discount"){ biciDiscount.push(product) }})})%>

                <%biciDiscount.forEach(bici=> { %>
                  <a href="/detalleproducto/<%=bici.idProduct%>" class="product article">
                    <img src="/images/<%=bici.productsImages[0].imageProduct%>" alt="<%=bici.alt%>">
                    <div class="producto-descripcion flexContainer">
                      <div class="price-bar flexContainer">
                        <p class="precio" style="text-decoration: line-through">$ <%=bici.price%>
                        </p>
                        <%if(bici.descuento){%>
                          <p class="descuento">$ <%=bici.price-(bici.price * bici.discount / 100)%>
                          </p>
                          <%}%>
                      </div>
                      <h4 class="description">
                        <%=bici.title%>
                      </h4>
                    </div>
                  </a>
                  <%})%>
          </section>
          <h3 class="sections">DESTACADOS</h3>
          <section id="slider">
            <!-- SLIDER -->
            <div class="slider-display-container">
              <button type="button" id="btnIzq" onclick="siguiente(-1)">&#10094;</button>
              <%listaBicis.forEach(bici=> { %>
                <%bici.productsImages.forEach(img=> { %>
                  <!-- <a href="/detalleproducto/<%=bici.idProduct%>" class="product article"> -->
                    <img class="sliderImagen" src="/images/<%=img.imageProduct%>" style="width:100%">
                  <!-- </a> -->
                  <%})%>
                    <%})%>
                      <button type="button" id="btnDer" onclick="siguiente(1)">&#10095;</button>
            </div>
            <!-- SLIDER SCRIPT (MUST INCLUDE)-->
            <%- include('partials/slider.ejs')%>
          </section>
      </main>
      <%- include('partials/footer.ejs')%>
  </body>

  </html>