<%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/header.ejs')%>
      <main id="mainIndex">
        <%- include('partials/navMenu.ejs')%>
        
        <h3 class="sections">Nuestras ofertas para vos!</h3>
        <section id="containerTarjetas">
          <%listaBicis.forEach(bici => { %>
            <a href="/detalleproducto/<%=bici.id%>" class="product article">
                <img src="/images/<%=bici.img[0]%>" alt="<%=bici.alt%>">
                <div class="producto-descripcion flexContainer">
                  <div class="price-bar flexContainer">
                    <p class="precio"><%=bici.precio%></p>
                    <%if(bici.descuento){%>
                      <p class="descuento"><%=bici.descuento%></p>
                    <%}%>
                  </div>
                  <h4 class="description"><%=bici.titulo%></h4>
                </div>
              </a>
          <%})%>
        </section>
        <h3 class="sections">DESTACADOS</h3>
        <section id="slider">
          <!-- SLIDER -->
          <div class="slider-display-container">
            <button type="button" id="btnIzq" onclick="siguiente(-1)">&#10094;</button>
            <%listaBicis.forEach(bici => { %>
              <%bici.img.forEach(img => { %>
                <img class="sliderImagen" src="/images/<%= img %>" style="width:100%">
              <%})%>
            <%})%>
            <button type="button" id="btnDer" onclick="siguiente(1)">&#10095;</button>
          </div>
          <!-- SLIDER SCRIPT (MUST INCLUDE)-->
          <%- include('partials/slider.ejs')%>
        </section>
      </main>
      <%- include('partials/footer.ejs')%>
  </body>

  </html>