<div class="pagination margin10px">
  <% if(data.previus >= 0 ){%>
    <a href="http://localhost:3010/?page=<%=data.previus%>">&laquo;</a>
  <%}%>
  <% for (let e =0; e <data.totalPages;  e++ ) { %>
    <% if(e == data.currentPage ){ %>
      <a class="active" href="http://localhost:3010/?page=<%=e%>"><%= e+1 %></a>
    <% }else{ %>
      <a  href="http://localhost:3010/?page=<%=e%>"><%= e+1 %></a>
    <%}%>
  <%}%>
  <% if(data.next ){%>
    <a href="http://localhost:3010/?page=<%=data.next%>">&raquo;</a>
  <%}%>
</div>