<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/header.ejs')%>
            <main class="margin10px flexContainer centradoxy" id="mainLogin">

                <div class="container" style="margin-top: 40px;">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 id="saludo">Hola <%= user.fullname %>!</h2>

                            <img id='avatar' src="/users/avatars/<%= user.userImage%>">
                            <br>
                            <br>
                            <fieldset>
                                <div class="alert alert-success">Email registrado: <%= user.email %>
                                </div>
                                <br>
                                <div class="alert alert-success">Direccion: <%= user.addres %>
                                </div>
                                <br>
                                <div class="alert alert-success">Fecha de nacimiento: <%= user.birthday %>
                                </div>
                            </fieldset>
                            <br>
                            <div class="flexContainer centradoxy">
                                <form id="eliminar" action="/users/delete/<%=user.idUser%>?_method=DELETE"
                                    method="POST">
                                    <button type="submit" class="btnDanger">Eliminar cuenta</button>
                                </form>
                                <a id="editar" href="/users/edit/<%=user.idUser%>?">
                                    <button class="btnSuccess margin10px"> Editar </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer.ejs')%>
    </body>

    </html>