<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/header.ejs')%>
            <main id="mainRegister">
                <form id="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
                    <label>Datos Personales</label>

                    <input name="fullName" type="text" id="fullname"
                        value="<%= locals.oldData? oldData.fullName : null %>" placeholder="Nombre y Apellido" />

                    <div class="validationAlert" id="fullnameAlert">
                        Tu nombre debe tener al menos 5 caracteres
                    </div>
                    <% if (locals.errores && errores.fullName) { %>
                        <p>
                            <%=errores.fullName.msg %>
                        </p>

                        <%}%>
                            <input name="fullAddress" type="text" id="fulladdress"
                                value="<%= locals.oldData? oldData.fullAddress : null %>" placeholder="Domicilio" />

                            <div class="validationAlert" id="fullAddressAlert">
                                Tu direccion debe tener al menos 5 caracteres
                            </div>
                            <% if (locals.errores && errores.fullAddress) { %>
                                <p>
                                    <%=errores.fullAddress.msg %>
                                </p>

                                <%}%>
                                    <input name="email" type="email" id="email"
                                        value="<%= locals.oldData? oldData.email : null %>" placeholder="E-mail" />
                                    <p id="yaexisteemail">Ya existe otro usuario con ese email. Por favor registrese con
                                        uno distinto, o ingrese <a href="/users/login">aqui</a>.</p>
                                    <div>
                                        <div class="validationAlert" id="emailAlert">
                                            Por favor ingresa un email
                                        </div>
                                        <div class="validationAlert" id="emailValidAlert">
                                            Por favor ingresa un email valido
                                        </div>
                                        <div id="usedEmail" class="validationAlert">Ya existe otro usuario con ese email. Por favor registrese con
                                            uno distinto, o ingrese <a href="/users/login">aqui</a>.</div>
                                    </div>
                                    <% if (locals.errores && errores.email) { %>
                                        <p>
                                            <%=errores.email.msg %>
                                        </p>
                                        <%}%>
                                            <input name="emailRep" type="email" id="emailRep"
                                                value="<%= locals.oldData? oldData.emailRep : '' %>"
                                                placeholder="Repita su E-mail" />
                                            <div>

                                                <div class="validationAlert" id="emailEqualAlert">
                                                    Las direcciones de correo no coinciden.
                                                </div>
                                            </div>
                                            <p id="emailRepErr">Las direcciones de correo no coinciden.</p>
                                            <% if (locals.errores && errores.emailRep) { %>
                                                <p>
                                                    <%=errores.emailRep.msg %>
                                                </p>
                                                <%}%>
                                                    <div class="validationAlert" id="emailAlert">
                                                        Por favor ingresa un email
                                                    </div>
                                                    <div class="validationAlert" id="emailAlert2">
                                                        los email no coinciden
                                                    </div>
                                                    <label for="bday">Fecha de Nacimiento</label>
                                                    <input name="bday" type="date" id="bday"
                                                        value="<%= locals.oldData? oldData.bday : null %>" />
                                                    <div class="validationAlert" id="bDayAlert">
                                                        Por favor escoge una fecha valida
                                                    </div>
                                                    <% if (locals.errores && errores.bday) { %>
                                                        <p>
                                                            <%=errores.bday.msg %>
                                                        </p>
                                                        <%}%>

                                                            <label>Datos de tu cuenta</label>
                                                            <input name="user" type="text" id="user"
                                                                value="<%= locals.oldData? oldData.user : null %>"
                                                                placeholder="Nombre de usuario" />
                                                            <p id="yaexiste">Ya existe otro usuario con ese nombre. Por
                                                                favor escriba uno distinto, o ingrese <a
                                                                    href="/users/login">aqui</a>.</p>
                                                            <div>
                                                                <div class="validationAlert" id="userAlert">
                                                                    Tu usuario debe tener al menos 5 caracteres
                                                                </div>
                                                                <% if (locals.errores && errores.user) { %>
                                                                    <p>
                                                                        <%=errores.user.msg %>
                                                                    </p>
                                                                    <%}%>
                                                            </div>
                                                            <div>
                                                                <input name="key" type="password" id="key"
                                                                    placeholder="Contraseña" /><i class="fa fa-eye"
                                                                    id="eye"></i>
                                                                <% if (locals.errores && errores.key) { %>
                                                                    <p>
                                                                        <%=errores.key.msg %>
                                                                    </p>
                                                                    <%}%>
                                                            </div>
                                                            <div>
                                                                <input name="keyAgain" type="password" id="keyAgain"
                                                                    placeholder="Confirmar contraseña" /><i
                                                                    class="fa fa-eye" id="eye2"></i>
                                                                <p id="passRepErr">Las contraseñas no coinciden.
                                                                </p>

                                                                <% if (locals.errores && errores.keyAgain) { %>
                                                                    <p>
                                                                        <%=errores.keyAgain.msg %>
                                                                    </p>
                                                                    <%}%>
                                                            </div>
                                                            <div>
                                                                <div class="validationAlert" id="passAlert">
                                                                    Las contraseñas no coinciden.
                                                                </div>
                                                                <div class="validationAlert" id="passAlert2">
                                                                    La contraseña debe tener al menos 8 caracteres.
                                                                </div>
                                                            </div>

                                                            <label>Tipo de usuario:</label> <br>
                                                            <div>
                                                                <label for=""> Administrador </label><input type="radio"
                                                                    name="userType" value="1">
                                                                <label for=""> Usuario </label><input type="radio"
                                                                    name="userType" checked="true" value="2">
                                                            </div>

                                                            <div>
                                                                <label>Foto de usuari@</label>
                                                                <input name="image" type="file" id="profilepic"
                                                                    accept=".jpg, .jpeg, .png, .gif"
                                                                    style="display: none;" single>
                                                                <input type="button" class="margin10px"
                                                                    value="Buscar..."
                                                                    onclick="document.getElementById('profilepic').click();" />
                                                            </div>
                                                            <div class="button-register">
                                                                <a href="/">
                                                                    <input type="button" class="btnDanger"
                                                                        value="Cancelar">
                                                                </a>
                                                                <input class="btnSuccess" id="submitBtn" type="button"
                                                                    value="Enviar">
                                                            </div>
                </form>
            </main>
            <%- include('../partials/footer.ejs')%>
                <script src="/js/registroUsuario.js"></script>

    </body>

    </html>